<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.study.mapper.AdminMapper">

    <update id="update">
        UPDATE admin
        <set>
            <if test="username!=null and username!=''">username=#{username}</if>
            <if test="password!=null and password!=''">password=#{password}</if>
            <if test="status!=null">status=#{status}</if>
            <if test="role!=null">role=#{role}</if>
        </set>
    </update>
</mapper>
